<ion-view view-title="Dashboard" name="login-view">
  <ion-nav-bar class="bar-assertive">
  </ion-nav-bar>
  <ion-content class="padding">
      <div class="card">
          <div class="item item-text-wrap">
              Bonjour, {{pompier.SP_NOM}} {{pompier.SP_PRENOM}} vous pouvez desormais saisir vos disponibilités pour la semaine {{noSemaine}}
          </div>
      </div>
      <button class="button button-assertive button-block" ng-click="gotoList()">Entrer mes disponibilités</button>
  </ion-content>
</ion-view>
