<ion-view view-title="Mes disponibilités" name="login-view">
  <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="secondary">
        <button class="button" ng-click="sendData()">
          Envoyer
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <ion-list class="list">
        <ion-item ng-repeat="hour in hours track by $index" dispo="dispo" dispo-hors="dispoHors" indispo="indispo" class="dispo" icon-switcher ng-click="rowPressed($index)">{{hour}}h</ion-item>
    </ion-list>
  </ion-content>
</ion-view>

