<ion-view view-title="Jours de la semaine" name="login-view">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
      <ul class="list">
          <div ng-repeat="day in days track by $index">
              <li class="item" ng-click="enterDisp(day)" >{{day.d}}/{{day.m}}/{{day.Y}}</li>
          </div>
      </ul>
  </ion-content>
</ion-view>
